/* ---- reset ---- */
p,
div,
ul,
il{
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}


a {
  color: #33b;
}


/* ---- global ---- */
body {
  background-color:#fff;
  color: #333;
}

.content{
  margin: 20px 0 0 0;
}

#root {
  padding: 10px;
  background: #666;
}

.additem {
  background: #fc9;
  padding: 10px;
  border-radius: 5px;
}

.additem > p {
  display: table-row;
}

.additem > p > * {
  display: table-cell;
  vertical-align: top;
  padding: 0 5px;
}

.pageNav {
  padding: 5px;
  background: #ffa;
}

.pageNav li::before {
  content: "・";
}
